<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Add New Head Member
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0);" (click)="gotoDashboard()">Dashboard</a>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="row">
    <div class="generic-form">

    <form role="form">

        <div class="col-lg-4">
            <fieldset class="form-group">
                <label>Title</label>
                    
                <select class="form-control input-lg" id="Title" placeholder="Title">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Second Name">
            </fieldset>


            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg"  placeholder="Mosal">
            </fieldset>


            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Address Line 2">
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Post Code">
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg"  placeholder="Email Address">
            </fieldset>                                

        </div>

        <div class="col-lg-4">

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg"  placeholder="Surname">
            </fieldset>    

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Birth Year">
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg"  placeholder="Profession">
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Town">
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Telephone No.">
            </fieldset>

        </div>

        <div class="col-lg-4">

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="First Name">
            </fieldset>                
            
            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Father's Name">
            </fieldset>                

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg" placeholder="Address Line 1">
            </fieldset>

            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg"  placeholder="County">
            </fieldset>


            <fieldset class="form-group">
                <input type="text" class="form-control input-underline input-lg"  placeholder="Mobile No.">
            </fieldset>                                

        </div>

    </form>
    </div>

    <div class="row generic-form">
            <a class="btn rounded-btn" (click)="gotoDashboard()"> Save </a>               
            &nbsp;
            <a type="submit" class="btn rounded-btn" (click)="gotoSignup()">Cancel</a>            
    </div>    

    </div>

</div>